[submodule "autonomous-drone"]
	path = autonomous-drone
	url = git@github.com:szebedy/autonomous-drone.git
[submodule "Laser/cartographer"]
	path = Laser/cartographer
	url = git@github.com:googlecartographer/cartographer.git
[submodule "Visual/Stereo/ProSLAM"]
	path = Visual/Stereo/ProSLAM
	url = git@github.com:AhmedShaban94/ProSLAM.git
[submodule "Laser/loam_velodyne"]
	path = Laser/loam_velodyne
	url = git@github.com:laboshinl/loam_velodyne.git
